@model IEnumerable<SalesWebMVC.Models.Department>

@{
	ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<table class="table table-striped">
	<thead class="table-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					<a class="text-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a class="text-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<p>
	<a class="btn btn-success" asp-action="Create">Create New</a>
</p>
